.DS_Store
node_modules/
**/*/node_modules/
dist/
lib/
es/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# rollup cache
.rpt2_cache

# auto generated
src/manifest.ts
src/svgs.ts

_site/
