.DS_Store
node_modules/
**/*/node_modules/
dist/
lib/
es/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# rollup cache
.rpt2_cache

# auto generated
_site/
.cache
public
src/fill/*.ts
src/outline/*.ts
src/twotone/*.ts
src/index.ts
src/manifest.ts
src/mapNameToIdentifier.ts
src/mapNameToThemedName.ts

# test generated
test/root/src/fill/*.ts
test/root/src/outline/*.ts
test/root/src/twotone/*.ts
test/root/src/index.ts
test/root/src/manifest.ts
test/root/src/mapNameToIdentifier.ts
test/root/src/mapNameToThemedName.ts
