.DS_Store
node_modules/
**/*/node_modules/
dist/
lib/
esm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# rollup cache
.rpt2_cache

# auto generated
src/components/
src/index.ts
src/metadata.ts
src/symbols.ts
